.App {

    position: relative;
    width: 100%;
    height: 80px;

    background: #FFFFFF;


}

/* Line 1 */

.Lineone {
    position: absolute;
    width: 2550px;
    height: 0px;
    left: 0px;
    top: 111px;

    border: 5px solid rgba(255, 255, 255, 0.566);
}


.orangeHeaderTwo {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;


    background: rgba(251, 178, 69, 0.77);
}

span a.link,
span a.visited {

    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

span a.hover,
span a.active {

    background-color: rgba(251, 178, 69, 0.77);
    color: white;
}

.buttonClearHistory {
    border-radius: 50px;
    background: #9B1AA6;
    width: 104px;
    height: 30px;
    color: white;
}

.buttonLogout2 {
    border-radius: 50px;
    background: #9B1AA6;
    width: 104px;
    height: 30px;
    color: white;
}
/* .orangeHeadertwo{


    position: relative;
    width: inherit;
    height: 449px;
    left: 0px;
    top: 0px;
    
    background: rgba(251, 178, 69, 0.77);
    } */
.intro-header {
    position: relative;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    top: 200px;
    left: 100px;
    font-variant: small-caps;
}

.intro-text {

    position: relative;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    top: 150px;
    left: 15px;
    font-variant: small-caps;
}

.headText {
    position: absolute;
    width: 553px;
    height: 175px;
    left: 184px;
    top: 24px;

    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

}

/* .logos {
    position: absolute;
    width: 282px;
    height: 273px;
    left: 184px;
    top: 353px;

} */

a:link , a:visited .translationsLink {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    display: inline-block;
  }

a:hover , a:active .translationsLink {
    background-color: rgba(251, 178, 69, 0.77);
    color: white;
  }

button:hover  {
    width: 100px;
  }
  
  button:hover .buttonClearHistory .buttonLogout2 {
    opacity: .9;
  }