@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.Boxer {
  box-sizing: border-box;

  position: absolute;
  width: 900px;
  height: 150px;
  left: 510px;
  top: 222px;


}

.Lineone {
  position: absolute;
  width: 2550px;
  height: 0px;
  left: 0px;
  top: 100px;
}

.inputfield {

  box-sizing: border-box;

  position: absolute;
  width: 500px;
  height: 50px;
  left: -110px;
  top: 58px;


  background: rgb(240, 235, 235);
  border: 5px solid #ffffff;
  border-radius: 20px;

}


.purplerec {

  position: absolute;
  width: 900px;
  height: 20px;
  left: 2px;
  top: 127px;

  background: #9B1AA6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.buttonone {


  position: absolute;
  width: 34px;
  height: 35px;
  left: 1445px;
  top: 287px;
  left: 860px;
  border-radius: 50px;
  background: #9B1AA6;
}

.arrowone {
  position: absolute;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  padding: 3px;
  width: 10px;
  height: 10px;
  left: 860px;
  top: 295px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.buttonLogout {

  position: absolute;
  width: 104px;
  height: 35px;
  top: 25px;
  left: 900px;
  border-radius: 50px;
  background: #9B1AA6;



}

.buttonProfile {

  position: absolute;
  width: 104px;
  height: 35px;
  top: 62px;
  left: 900px;
  border-radius: 50px;
  background: #9B1AA6;
}

.logos {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 184px;
  top: 8px;



}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  color: white;
}

.profile {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;

  color: white;

}

a:hover {
  width: 100px;
}

a:hover .logout .profile {
  opacity: .9;
}

a {
  text-decoration: none;
}