.App {

    position: relative;
    width: 100%;
    height: 60px;
    
    background: #FFFFFF;


}

/* Line 1 */

.Lineone{
position: absolute;
width: 2550px;
height: 0px;
left: 0px;
top: 111px;

border: 5px solid rgba(255, 255, 255, 0.566);
}

.orangeHeader{


position: absolute;
width: 100%;
height: 400px;
left: 0px;
top: 0px;


background: rgba(251, 178, 69, 0.77);
}
.orangeHeadertwo{


    position: relative;
    width: inherit;
    height: 349px;
    left: 0px;
    top: 0px;
    
    background: rgba(251, 178, 69, 0.77);
    }

    .orangeHeaderTwo {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;


    background: rgba(251, 178, 69, 0.77);
}
.intro-header{
    position: relative;
    color: #FFFFFF;
   display: flex;
   justify-content: center;
   top: 200px;
   left: 100px;
   font-variant: small-caps;
}
.intro-text{

    position: relative;
    color: #FFFFFF;
   display: flex;
   justify-content: center;
   top: 150px;
   left:15px;
   font-variant: small-caps;
}
.headText {
position: absolute;
width: 553px;
height: 175px;
left: 184px;
top: 24px;

font-family: 'Hermeneus One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

}
.logos{
position: absolute;
width: 282px;
height: 273px;
left: 184px;
top: 353px;



}