.Rectang {
    box-sizing: border-box;

    position: absolute;
    /* width: 900px; */
    height: 90px;
    /* left: 510px; */
    width: 100%;
    top: 460px;

    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.28);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.Rectangtwo {

    box-sizing: border-box;


    /* width: 900px; */
    height: 50px;
    /* left: 500px; */
    width: 100%;


    background: rgba(217, 217, 217, 0.56);
    border: 5px solid #D9D9D9;
    border-radius: 20px;

}

.Rectangthree{

position: absolute;
/* width: 921px; */
height: 20px;
/* left: 2px; */
width: 100%;
top: 67px;

background: #9B1AA6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.button {


    position: absolute;
    width: 34px;
    height: 35px;
    /* left: 1445px; */
    top: 474px;
    /* left: 1380px; */
    left: 1210px;
    border-radius: 50px;
    background: #9B1AA6;
}

.arrow{
    position: absolute;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    padding: 3px;
    width: 10px;
    height: 10px;
    /* left: 1385px; */
    left: 1210px;
    top: 481px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}